@import url('./baseUI.less');
@import url('./baseClass.less');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

#app {
    font-family: Helveticasans-serif;
    background-color: var(--background-color);
    height: 100vh;
    width: 100%;
    overflow: hidden;
    font-size: 14px;
}

:root {
    --error-color: #F5000F;
    --background-color: #E8E8E8;
}


